/* Color reference table 

	Primary color		#f90
	Placeholder text	#999

	Primary button		#f90
	  when hover		#fb5
	  when clicking		#d80
	  when disabled		#666
	Secondary button	#323037
	  when hover		#5f5d65
	  when clicking		#252525
	  when disabled		#666

	Notification red	#ff7b7b;
	  and its border	#ad0000;
	Notification amber	#fff39d;
	  and its border	#ad9000;
	Notification green	#a9ffac;
	  and its border	#00ad2d;
	
*/


/* From original main.css */
@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul { list-style: none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
}

/* Box Model */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Styles */
@-ms-viewport { width: device-width; }

/* Disable animation when loading */
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body {
	background-color: #fff;
	color: #666;
}

body, input, select, textarea, .display .input-with-label {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 2em;
}
	/*@media screen and (max-width: 1680px) {
		body, input, select, textarea { font-size: 11pt; }
	}*/
	@media screen and (max-width: 1280px) {
		body, input, select, textarea, .display .input-with-label span { font-size: 11pt; }
	}
	@media screen and (max-width: 980px) {
		body, input, select, textarea, .display .input-with-label span { font-size: 12pt; }
	}
a {
	text-decoration: underline;
	color: #f90;
}
	a:hover {
		text-decoration: none;
	}
strong, b {
	color: #484848;
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	color: #484848;
	font-weight: 700;
	line-height: 1.5em;
	margin: 0.3em 0 1em;
	text-transform: uppercase;
}
	h2 { font-size: 1.75em; }
	h3 { font-size: 1.35em; }
	h4 { font-size: 1.1em; }
	h5 { font-size: 0.9em; }
	h6 { font-size: 0.7em; }

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}
sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

/* Forms */
input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	border: none;
	border: solid 1px rgba(144, 144, 144, 0.25);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	max-width: 100%;
	min-height: 3em;
	margin-bottom: 1em;

}
	/*input:invalid,
	select:invalid,
	textarea:invalid {
		box-shadow: none;
	}*/
	input:not([disabled]):focus,
	select:not([disabled]):focus,
	textarea:not([disabled]):focus {
		border-color: #f90;
		box-shadow: 0 0 0 1px #f90;
    	user-select: text;
	}

input[type="checkbox"],
input[type="radio"] {
	opacity: 0;
	z-index: -1;
	width: 0;
	height: 0;
	position: absolute;
}
	input[type="checkbox"] + label,
	input[type="radio"] + label {
		text-decoration: none;
		color: #666;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		font-weight: 400;
		padding-left: 2.4em;
		padding-right: 0.75em;
		position: relative;
	}
		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-radius: 4px;
			border: solid 1px rgba(144, 144, 144, 0.25);
			content: '';
			display: inline-block;
			height: 1.65em;
			left: 0;
			line-height: 1.58125em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 1.65em;
		}
	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		content: '\f00c';
		background: #323037;
		border-color: #323037;
		color: #ffffff;
	}
	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #f90;
		box-shadow: 0 0 0 1px #f90;
	}
input[type="checkbox"] + label:before {
	border-radius: 4px;
}
input[type="radio"] + label:before {
	border-radius: 100%;
}

.select-wrapper { margin-bottom: 1em; }
	.select-wrapper select { margin-bottom: 0; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

/* Banner */
body.is-touch #banner {
	background-attachment: scroll;
}
#banner {
	padding: 16em 0 13em 0;
	background-attachment: fixed;
	background-image: url("../../img/website/overlay.png"), url("../../img/website/banner.jpg");
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
}
	#banner:last-child {
		margin-bottom: 0;
	}
	#banner h2 {
		color: #ffffff;
		display: inline-block;
		font-size: 3.5em;
		line-height: 1.35;
		margin-bottom: 0.5em;
	}
	#banner p {
		color: #aaa;
		font-size: 1.5em;
		margin-bottom: 1.75em;
		text-transform: uppercase;
	}
	@media screen and (max-width: 1280px) {
		#banner {
			padding: 14em 0 11em 0;
		}
			#banner h2 {
				font-size: 2.5em;
			}
	}
	@media screen and (max-width: 980px) {
		#banner {
			padding: 9em 0 7em 0;
		}
	}
	@media screen and (max-width: 736px) {
		#banner {
			padding: 6em 2em 6em 2em;
		}
			#banner br {
				display: none;
			}
			#banner h2 {
				font-size: 2.25em;
			}
			#banner p {
				font-size: 1.25em;
			}
	}
	@media screen and (max-width: 480px) {
		#banner {
			padding: 4em 2em 4em 2em;
		}
	}


/* Wrappers */
section.special, article.special {
    text-align: center;
}

.wrapper {
	padding: 5em 0 5em 0;
}
	.wrapper.style2 {
		background-color: #f6f6f6;
	}
	.wrapper.style3 {
		background-attachment: fixed;
		background-image: url("../../img/website/overlay.png"), url("../../img/website/banner.jpg");
		background-position: center center;
		background-size: cover;
	}
		.wrapper.style3 header.major {
			margin-bottom: 3em;
		}
			.wrapper.style3 header.major h2 {
				color: #ffffff;
			}
			@media screen and (max-width: 1280px) {
				.wrapper.style3 header.major {
					margin-bottom: 2em;
				}
			}
	@media screen and (max-width: 980px) {
		.wrapper { padding: 4em 0 2em 0; }
	}
	@media screen and (max-width: 736px) {
		.wrapper { padding: 3em 0 1em 0; }
	}
	@media screen and (max-width: 480px) {
		.wrapper { padding: 2.5em 0 0.3em 0; }
	}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
	width: 90em;
}
	.container::after,
	.divider::after {
		clear: both;
		content: '';
		display: block;
	}

@media screen and (max-width: 1680px) {
	.container { width: 70em; }
}
@media screen and (max-width: 1280px) {
	.container { width: 60em; }
}
@media screen and (max-width: 980px) {
	.container { width: 90%; }
}
@media screen and (max-width: 736px) {
	.container { width: 90% !important; }
}
@media screen and (max-width: 480px) {
	.container { width: 90% !important; }
}

/* Header */
#header {
	background-color: #fff;
	border-bottom: solid 1px rgba(144, 144, 144, 0.25);
	box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
	color: #484848;
	font-size: 1.25em;
	line-height: 4.4em;
	height: 4.5em;
	position: fixed;
	text-transform: uppercase;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
	padding: 0.8em;
}
	#header h1 {
		color: #484848;
		font-weight: 400;
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}
	#header-logo {
		display: block;
		margin: auto;
		width: 5em;
	}
	/* Navigation style is reverted until design is ready */
/*		#header nav {
			text-align: center;
			margin-top: 1em;
		}*/

	#header nav {
		height: inherit;
		line-height: inherit;
		position: absolute;
		right: 1.25em;
		top: 0;
		vertical-align: middle;
	}
		#header a { text-decoration: none; }
		#header nav ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
			#header nav ul li {
				border-radius: 4px;
				display: inline-block;
				padding-left: 0;
			}
				#header nav ul li a {
					color: #666;
					padding: 0 1.25em;
					display: inline-block;
					border-style: inset;
					position: relative;
				}
					#header nav ul li a:after {
						-moz-transition: 0.2s ease-in-out;
						-webkit-transition: 0.2s ease-in-out;
						-ms-transition: 0.2s ease-in-out;
						transition: 0.2s ease-in-out;
						content: '';
						display: block;
						width: 100%;
						bottom: -2px;
						position: absolute;
						left:0;
						border-top: 6px solid transparent;
					}
					#header nav ul li a:hover:after {
						/*color: #484848;*/
						content: '';
						display: block;
						border-top: 6px solid #666;
					}
					#header nav ul li a:active:after,
					#header nav ul li a.nav-active:after {
						content: '';
						display: block;
						border-top: 6px solid #f90;
					}
				#header nav ul li:first-child {
					margin-left: 0;
				}
	#header.alt {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		height: 3.25em;
		line-height: 3.25em;
		position: absolute;
	}
		#header.alt h1 {
			color: #ffffff;
			left: 2.5em;
			top: 2em;
		}
			#header.alt h1 a {
				color: #FFF;
			}
		#header.alt nav {
			right: 2em;
			top: 2em;
		}
			#header.alt nav a {
				color: #ddd;
			}
				#header.alt nav a:active, #header.alt nav a:hover {
					color: #FFF;
				}
					#header.alt nav ul li a:hover:after {
						border-top: 6px solid #ddd;
					}
	@media screen and (max-width: 980px) {
		/*#header {
			display: none;
		}*/
	}

header.major {
	margin: 0 0 1em 0;
}
	header.major h2 {
		font-size: 3em;
	}
	header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
		display: inline-block;
		margin: 0 ;
	}
	header.major p {
		font-size: 1.7em;
		margin-bottom: 0;
	}
header.minor h2, header.minor h3, header.minor h4, header.minor h5, header.minor h6 {
	display: inline-block;
}
@media screen and (max-width: 1280px) {
		header.major h2 { font-size: 2.5em; }
		header.major p { font-size: 1.3em; }
}
@media screen and (max-width: 980px) {
	header.major h2 { font-size: 2em; }
	header.major p { font-size: 1.1em; }
}
@media screen and (max-width: 736px) {
	header.major { margin-bottom: 2em; }
}
@media screen and (max-width: 480px) {
	header.major h2 { font-size: 1.75em; }
}

/* Lists */
.display-content {
	position: relative;
	display: block;
	padding: 0.8em 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	color: #555;
}
	.display-content { 
		text-decoration: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	}
		.display-content:hover  { background-color: #f5f5f5; }
	.display-content img {
		margin-top: 1em;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
	}
/*	.display-content h4,
	.display-content h5 {
		margin-bottom: 0;
		margin-top: 0;
		text-align: right;
	}*/
	.display-content .name-date::after {
		content: '';
		display: block;
		clear: both;
	}
	.display-content:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.display-content:last-child {
		margin-bottom: 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom: 1px solid #ddd;
	}

/* Footer */
#footer {
	padding: 6em 0 4em 0;
	background: #f6f6f6;
	color: #aaa;
	text-align: center;
	clear: both;	
}
	#footer a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #aaa;
		text-decoration: none;
	}
		#footer a:active, #footer a:hover { color: #666; }

	#footer .icons { font-size: 1.5em; }
		#footer .icons li { padding-right: 2.5em; }
			#footer .icons li:last-child { padding-right: 0; }
	#footer .copyright {
		margin: 2em 0;
		padding: 0;
		text-align: center;
	}
		#footer .copyright li {
			border-left: solid 1px rgba(144, 144, 144, 0.25);
			display: inline-block;
			list-style: none;
			margin-left: 1.5em;
			padding-left: 1.5em;
		}
			#footer .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
	@media screen and (max-width: 980px) {
		#footer { padding: 6em 0 4em 0; }
	}
	@media screen and (max-width: 736px) {
		#footer { padding: 3em 0 2em 0; }
			#footer .icons { font-size: 1em; }
	}
	@media screen and (max-width: 480px) {
		#footer { padding: 3em 0 1em 0; }
			#footer .copyright li {
				border-left: 0;
				display: block;
				margin: 0;
				padding: 0;
			}
	}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button, .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
	background-color: #323037;
	box-shadow: inset 0 0 0 2px #323037;
	border-radius: 4px;
	color: #ffffff !important;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 3.15em;
	line-height: 3.25em;
	padding: 0 2.2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: initial;
}
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	button:hover,
	.button:hover {
		background-color: #5f5d65;
		box-shadow: inset 0 0 0 2px #5f5d65;
	}
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active,
	button:active,
	.button:active {
		background-color: #252525;
		box-shadow: inset 0 0 0 2px #252525;
	}
	input[type="submit"].icon,
	input[type="reset"].icon,
	input[type="button"].icon,
	button.icon,
	.button.icon {
		padding-left: 1.35em;
	}
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}
	input[type="submit"].fit,
	input[type="reset"].fit,
	input[type="button"].fit,
	button.fit,
	.button.fit {
		display: block;
		margin: 0 0 1em 0;
		width: 100%;
	}
	input[type="submit"].small,
	input[type="reset"].small,
	input[type="button"].small,
	button.small,
	.button.small {
		font-size: 0.8em;
	}
	input[type="submit"].big,
	input[type="reset"].big,
	input[type="button"].big,
	button.big,
	.button.big {
		font-size: 1.35em;
	}
	input[type="submit"].disabled, input[type="submit"]:disabled,
	input[type="reset"].disabled, input[type="reset"]:disabled,
	input[type="button"].disabled, input[type="button"]:disabled,
	button.disabled, button:disabled,
	.button.disabled, .button:disabled {
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		background-color: #666 !important;
		box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
		color: #fff !important;
		cursor: default;
		opacity: 0.25;
	}
	input[type="submit"].special,
	input[type="reset"].special,
	input[type="button"].special,
	button.special,
	.button.special {
		background-color: #f90;
		box-shadow: inset 0 0 0 2px #f90;
		color: #ffffff !important;
	}
		input[type="submit"].special:hover,
		input[type="reset"].special:hover,
		input[type="button"].special:hover,
		button.special:hover,
		.button.special:hover {
			background-color: #fb5;
			box-shadow: inset 0 0 0 2px #fb5;
		}
		input[type="submit"].special:active,
		input[type="reset"].special:active,
		input[type="button"].special:active,
		button.special:active,
		.button.special:active {
			background-color: #d80;
			box-shadow: inset 0 0 0 2px #d80;
		}

	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	button.alt,
	.button.alt {
		background-color: transparent !important;
		color: #484848 !important;
	}
		input[type="submit"].alt:hover,
		input[type="reset"].alt:hover,
		input[type="button"].alt:hover,
		button.alt:hover,
		.button.alt:hover {
			color: #808080 !important;
		}
		input[type="submit"].alt.icon:before,
		input[type="reset"].alt.icon:before,
		input[type="button"].alt.icon:before,
		button.alt.icon:before,
		.button.alt.icon:before {
			color: #aaa;
		}

	button.wide,
	input[type="submit"].wide,
	button.wide-always,
	input[type="submit"].wide-always {
		padding-left: 4.2em;
		padding-right: 4.2em;
	}
	@media screen and (max-width: 480px) {
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button,
		button.wide,
		input[type="submit"].wide {
			padding: 0 13px;
		}
	}


/* Grid, largely from bootstrap */
.row {
	border-bottom: solid 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.row-nopadding > div {
	padding-left: 0;
	padding-right: 0;
}

.row-vertpadding > div {
	padding-bottom: 1em;
}

.row > * {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.row:after, .row:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}


.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; } 
.col-xs-0 { display: none; }

@media (min-width: 768px) { 
	.col-sm-12 { width: 100%; } 
	.col-sm-11 { width: 91.66666667%; } 
	.col-sm-10 { width: 83.33333333%; } 
	.col-sm-9 { width: 75%; } 
	.col-sm-8 { width: 66.66666667%; } 
	.col-sm-7 { width: 58.33333333%; } 
	.col-sm-6 { width: 50%; } 
	.col-sm-5 { width: 41.66666667%; }
	.col-sm-4 { width: 33.33333333%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.66666667%; }
	.col-sm-1 { width: 8.33333333%; } 
	.col-sm-0 { display: none; }
} 
@media (min-width: 992px) { 
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.66666667%; }
	.col-md-10 { width: 83.33333333%; }
	.col-md-9 { width: 75%; }
	.col-md-8 { width: 66.66666667%; }
	.col-md-7 { width: 58.33333333%; }
	.col-md-6 { width: 50%; }
	.col-md-5 { width: 41.66666667%; }
	.col-md-4 { width: 33.33333333%; }
	.col-md-3 { width: 25%; }
	.col-md-2 { width: 16.66666667%; }
	.col-md-1 { width: 8.33333333%; } 
	.col-md-0 { display: none; }
} 
@media (min-width: 1200px) { 
	.col-lg-12 { width: 100%; }
	.col-lg-11 { width: 91.66666667%; }
	.col-lg-10 { width: 83.33333333%; }
	.col-lg-9 { width: 75%; }
	.col-lg-8 { width: 66.66666667%; }
	.col-lg-7 { width: 58.33333333%; }
	.col-lg-6 { width: 50%; }
	.col-lg-5 { width: 41.66666667%; }
	.col-lg-4 { width: 33.33333333%; }
	.col-lg-3 { width: 25%; }
	.col-lg-2 { width: 16.66666667%; }
	.col-lg-1 { width: 8.33333333%; }
	.col-lg-0 { display: none; }
}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		display: inline-block;
	}


/* Custom */
::-webkit-input-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }

#header-placeholder {
	display: block;
	height: 120px;
}

.divider {
	border-bottom: solid 2px #ddd;
	/*width: 90%;*/
	padding: 2em 0 0;
	margin: 0 auto 2em;
	clear: both;
}

.small { font-size: 12px; }

@media screen and (min-width: 992px) {
	.vert-divider-right { padding-right: 29px; }
	.vert-divider-right+* { padding-left: 29px; }
		.vert-divider-right:after,
		.vert-divider-right+*:before {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			border-left: solid 2px #ddd;
		}
			.vert-divider-right:after { right: -1px; }
			.vert-divider-right + *:before { left: -1px; }
}

/* Fix needed */ 
/*.required:after {   
	content: '*';
	font-size: 35px;
	color: red;
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
}*/

span.select2-selection{ min-height: 3.5em; }
	span.select2-selection * { line-height: 3.5em; }
	.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
		border-color: #f90;
		box-shadow: 0 0 0 1px #f90;
		border-top-color: #aaa; }

	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
		border-color: #f90;
		box-shadow: 0 0 0 1px #f90;
		border-bottom-color: #aaa; }
	
.badge { float: right; }
.badge + .badge { margin-right: 5px; }

.clear-both { clear: both; }
.hidden { display: none !important; }

#items {
	max-height: 60vh;
	overflow: auto;
}

#header-avatar {
	display: inline-block;
	vertical-align: middle;
    width: 2em;
    height: 2em;
    background-size: contain;
    border-radius: 1.25em;
    margin-left: 0.4em;
}

#large-avatar {
    width: 50%;
    height: 0;
    padding-top: 50%;
    border-radius: 100%;
    margin: 2.5em auto;
    background-size: contain;
    position: relative;
}
	#large-avatar .drop-zone {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 48.5%;
		padding-bottom: 48.5%;
		line-height: 0;
		text-align: center;
		width: 100%;
		height: 0;
    	border-radius: 100%;
	}

form.upload > ul {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.6em 0.6em 0;
	margin-bottom: 2em;
}
	form.upload input,
	#large-avatar input {
		display: none !important;
	}
	form.upload > ul > li  {
		border-radius: 4px;
		overflow: hidden;
		height: 6em;
		max-width: 9em;
		text-align: center;
		margin: 0 0.3em;
		display: inline-block;
	}
		form.upload > ul > li > img {
			height: 6em;
		}
.drop-zone  {
	cursor: pointer;
	border: 4px dashed #ddd; 
	width: 8em;
	line-height: 5.5em;
}
	.drop-zone:hover,
	.drag-highlight  {
		background-color: rgba(200,200,200,0.2);
	}

.input-with-label > span {
	font-size: 0.9em;
	display: block;
	line-height: 1.2em;
	margin: 0.7em 0 0.4em;
	font-weight: bold;
}

.display .input-with-label > span {
	display: inline-block;
	padding-left: 1em;
}
	.display .drop-zone {
		display: none;
	}
	.display .input-with-label > span:after {
		content: ': ';
		display: inline-block;
	}
	.display .input-with-label input {
		width: initial;
		display: inline-block;
		border:none;
		min-height: 2em;
	}
	.display .input-with-label textarea {
		border:none;
	}

/* Notification */
.notify-container {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
	position: relative;
}
	.notify-red,
	.notify-yellow,
	.notify-green {
	    padding: 1em;
	    border-radius: 4px;
	    margin: 0.5em 0 2em;
	}
		.notify-red {
		    background-color: #ff7b7b;
		    border: 1px solid #ad0000;
		}
		.notify-yellow {
		    background-color: #fff39d;
		    border: 1px solid #ad9000;
		}
		.notify-green {
		    background-color: #a9ffac;
		    border: 1px solid #00ad2d;
		}

		/* Index Page */
.index-search{
	text-align: center;
	margin: auto;
	max-width: 1500px;
}
	.index-search div {
		float: none;
		display: inline-block;
		margin-bottom: 2em;
	}

	.select-wrapper {
		width: 100%;
	}

/* Flight listings */
.oneline-desc{
	overflow: hidden;
	margin-right: 1em;
	padding-right: 3em;
	padding-left: 15px;
	max-height: 28px; 
	position: relative;
}
	.oneline-desc::after {
		content: '详细';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		text-decoration: underline;
	    color: #f32853;
	}

.page-selector {
    padding-left: 0;
    margin-top: 1.5em;
}
	.page-selector li {
		background-color: #fff;
	    border: 1px solid #ddd;
	    border-left: none;
	    padding:0;
	    width: 3em;
	    height: 3em;
	    display: inline-block;
	    text-align: center;
	    line-height: 45px;
	}
	.page-selector li:hover {
  		background-color: #f5f5f5;
	}
	.page-selector li:first-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	    border-left: 1px solid #ddd;
	}
	.page-selector li:last-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}